extends layout

block content
  h1 User Details
  p User Name #{name}
  input(name='age', type='text', value=age)

block content
  h1= title
  a(href='/loaddata') Load CSV

  form(action='/education' method='get')
    label startunit
    input(name='startunit' value='0')   
    label endunit
    input(name='endunit' value='0')   
    button(type='submit') Submit

  //- each row in rows
  //-   p Time : #{row.time}
  //-   p Latitude : #{row.latitude}
  //-   p Longitude : #{row.longitude}
  //-   p Mag : #{row.mag}
  //-   p Net : #{row.net}
  //-   p Place : #{row.place}
  //-   hr

  div#piechart